<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Insult</title>
	</head>
	<body>
		<form action="">
			<label for="name">Type something:</label>
			<br />
			<textarea name="text" id="text" cols="30" rows="5"></textarea>
			<br />
			<input type="submit" value="Submit" />
		</form>
		<p><%= insult %></p>
	</body>
</html>
